<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Error</title>
        <link rel="stylesheet" href="/static/error.css" />
        <script src="/static/error.js" type="module"></script>
    </head>
    <body>
        <%- include("./components/header.ejs") %>
        <div id="background"></div>
        <h1>Oops, <%= statusCode %> <%= message %></h1>
    </body>
</html>
