<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>AtCoder Notify Bot</title>
        <link rel="stylesheet" href="/static/home.css" />
        <script src="/static/home.js" type="module"></script>
    </head>
    <body>
        <%- include("./components/header.ejs") %>
        <div id="background"></div>
        <div class="container">
            <div class="scene">
                <h1>AtCoder Notify Bot</h1>
                <span id="subtitle"></span>
            </div>
        </div>
        <div class="container">
            <div class="scene" id="scene2">
                <h2>Features</h2>
                <div id="feature-list-container">
                    <ul id="feature-list">
                        <li data-item="remind">Contest Reminder</li>
                        <li data-item="notify">Submission Realtime Notify</li>
                        <li data-item="web_dash">Web Dashboard</li>
                        <li data-item="custom">Customization</li>
                    </ul>
                    <div id="feature-view">
                        <div id="feature-view-content">
                            <h3 id="feature-title">Contest Reminder</h3>
                            <p id="feature-description">Get notified about upcoming contests.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="scene" id="scene3">
                <h2>Apps</h2>
                <div id="app-list">
                    <a href="/apps/rating-simulator">
                        <div class="app-container">
                            <h3>
                                AtCoder Rating Simulator
                                <span class="subtitle"> (AtCoder Rating Simulator) </span>
                            </h3>
                            <p>
                                Visualize and predict your next AtCoder rating based on hypothetical performance values. This tool helps you understand how
                                different performances can affect your future rating using an interactive graph.
                            </p>
                        </div>
                    </a>
                    <a href="/apps/devitation">
                        <div class="app-container">
                            <h3>AtCoder Deviation</h3>
                            <p>
                                Convert your AtCoder rating into a deviation score (similar to a standardized test score). DevScore lets you see how your rating
                                compares statistically to the rest of the userbase.
                            </p>
                        </div>
                    </a>
                    <a href="/apps/altcoder">
                        <div class="app-container">
                            <h3>AtCoder ABC/ARC/AGC Calculator</h3>
                            <p>
                                Estimate your current AtCoder rating as if you had only participated in ABC, ARC, or AGC contests. AltCoder simulates your
                                alternate rating history to see how each contest series influences your standing.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
