<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Kicky Judge</title>
        <script src="/static/judge.js" type="module"></script>
    </head>
    <body>
        <%- include("../components/header.ejs") %>
        <div id="background"></div>
        <main>
            <h1>Kicky Judge</h1>
            <a href="/judge/contest/junkyard">適当に作った問題を突っ込むところ。</a>
        </main>
    </body>
</html>
