<footer>
    <div class="footer-grid">
        <div class="footer-title">KYO=PRO.CLUB</div>
        <div class="footer-column">
            <h2>Services</h2>
            <a href="https://kyo-pro.club/editorials">AtCoder Editorials</a><br />
            <a href="https://bot.kyo-pro.club">AtCoder Notify Bot</a>
        </div>
        <div class="footer-column">
            <h2>About</h2>
            <a href="/terms">Terms of Service</a><br />
            <a href="/privacy">Privacy Policy</a><br />
            <a href="/contact">Contact</a><br />
            <a href="/faq">FAQ</a>
        </div>
        <div class="footer-column">
            <h2>Supporters</h2>
            <a href="/supporters/donators">Donators</a><br />
            <a href="/supporters/developers">Developers</a>
        </div>
    </div>
    <div class="footer-copyright">&copy; 2025 kyo-pro.club All rights reserved.</div>
</footer>
