<header>
    <nav>
        <ul class="left-header">
            <li>
                <a href="/"><img src="/favicon-96x96.png" alt="{K}" /></a>
            <li><a href="/editorials">Editorials</a></li>
            </li>
        </ul>
        <ul class="right-header">
            <li><a href="/accounts/signin">SignIn</a></li>
            <li><a href="/accounts/signup">SignUp</a></li>
        </ul>
    </nav>
</header>
<canvas id="background"></canvas>