<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>KYO=PRO.CLUB</title>
        <script src="/static/home.js"></script>
        <link rel="stylesheet" href="/static/home.css" />
    </head>
    <body>
        <%- include("./components/header.ejs") %>
        <main>
            <h1>KYO=PRO.CLUB</h1>
            <span class="subtitle">Improve <span class="text-gradient">Efficiency</span> in Competitive Programming</span>
            <h2>Services</h2>
            <a href="https://bot.kyo-pro.club/">
                <div class="card">
                    <h3>AtCoder Notify</h3>
                    <span>Notify about AtCoder Contest information in Discord.</span>
                </div>
            </a>
            <a href="https://editorials.kyo-pro.club/">
                <div class="card">
                    <h3>AtCoder Editorials</h3>
                    <span>Someone says, I want to write editorials without high rating.</span>
                </div>
            </a>
            <a href="https://beta.kyo-pro.club/">
                <div class="card">
                    <h3>AtCoder Notify Beta</h3>
                    <span>AtCoder Notify's Beta version</span>
                </div>
            </a>
        </main>
        <%- include("./components/footer.ejs") %>
    </body>
</html>
