html,
body {
    height: 100%;
    overscroll-behavior: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}
main {
    width: 100vw;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    overscroll-behavior: none;
}
table {
    width: 90%;
    border-collapse: collapse;
    td {
        text-align: center;
        padding: 0.5rem;
        border: 1px solid #ccc;
    }
}
.window {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 5px;
    padding-top: 0px;
    .title-bar {
        touch-action: none;
        position: sticky;
        top: 0px;
        left: 0px;
        padding-top: 2.5px;
        padding-bottom: 2.5px;
        border-bottom: 1px solid #ccc;
        user-select: none;
        background-color: white;
        overflow: hidden;
        text-overflow: ellipsis;

        button.close-button {
            position: absolute;
            top: -1px;
            right: 5px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            color: #333;
            margin: 0;
            padding: 0;
        }
        button.min-button {
            position: absolute;
            top: -4px;
            right: 30px;
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-size: 1.5rem;
            color: #333;
            margin: 0;
            padding: 0;
        }
        button:last-child {
            right: 5px;
        }
    }
}
input[type='text'],
input[type='number'] {
    width: 80%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#algoMinFilter,
#algoMaxFilter,
#heuristicMinFilter,
#heuristicMaxFilter,
#algoInnerMinFilter,
#algoInnerMaxFilter,
#heuristicInnerMinFilter,
#heuristicInnerMaxFilter {
    width: 50px;
    display: inline-block;
    margin-right: 0.5rem;
}

select {
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type='checkbox'] {
    margin-right: 0.5rem;
}
button {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    &:hover {
        background-color: #0056b3;
    }
    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
}
tr button {
    margin: 0;
}
.status-AC {
    display: inline-block;
    background-color: #50ff79;
    color: status;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}
.status-Penalty {
    display: inline-block;
    background-color: #ff8b8b;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
}
.country-flag {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.tabs {
    border-bottom: #333 solid 1px;
    .tab-select {
        display: inline-block;
        padding: 0.5rem 1rem;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        &:hover {
            background-color: #f0f0f0;
        }
        &.active {
            border-bottom-color: #333;
            font-weight: bold;
        }
    }
}
html {
    font-size: 16px;
}
@media (max-width: 768px) {
    html {
        font-size: 14px;
    }
}
